/* 미디어 쿼리 */
@media screen and (min-width: 600px) and (max-width: 959px) {
    /* 여기에 CSS 작성 */
  }

  @media all and (orientation: portrait) {
    /* 세로 모드일 때 적용 */
  }
  @media all and (orientation: landscape) {
    /* 가로 모드일 때 적용 */
}

@media (max-width: 375px) {
    img {
      max-width: 110.2px;
    }
  }

.container {
    text-align: center;
}

.Make {
    font-family: 'KBO-Dia-Gothic';
    width: 50vh;
    height: 30vh;
    font-size: 10vh;
    background-color: #59F9CD;
    color: white;
    border-radius: 120vh;
    margin-top: 30vh;
    margin-left: 5vh;
    text-align: center;
    line-height: 30vh;
    font-weight: 500;
}

.Share {
    font-family: 'KBO-Dia-Gothic';
    width: 50vh;
    height: 30vh;
    font-size: 10vh;
    -webkit-text-stroke: 0.5px #88FFA9;
    color: white;
    border-radius: 120vh;
    margin-left: 55vh;
    text-align: center;
    line-height: 30vh;
    border-style: solid;
    border-width: 0.1vh;
    border-color:#88FFA9;
}

.gather-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.Gather {
    font-family: 'KBO-Dia-Gothic';
    width: 50vh;
    height: 30vh;
    font-size: 10vh;
    border-radius: 120vh;
    text-align: center;
    line-height: 30vh;
    border-style: solid;
    margin-left: 7vh;
}

.arrow {
    width: 50vh;
    height: 30vh;
    font-size: 10vh;
    border-radius: 120vh;
    text-align: center;
    line-height: 250px;
    border-style: solid;
    margin-left: 50px;
}

.arrow-filled {
    width: 50vh;
    height: 30vh;
    font-size: 10vh;
    border-radius: 120vh;
    text-align: center;
    line-height: 30vh;
    border-style: solid;
    margin-left: 50vh;
}

.Gather {
    color: #88FFA9;
    border: 0.1vh solid #88FFA9;
}

.arrow {
    font-size: 100px;
    color: #59F9CD;
    border: 0.1vh solid #59F9CD;
}

.arrow-left {
    transform: rotate(-20deg);
}

.arrow-filled {
    font-size: 10vh;
    color: white;
    background-color: #59F9CD;
    border: 0.1vh solid #59F9CD;
}

.active {
    font-family: 'KBO-Dia-Gothic';
    font-size: 4vh;
    margin-top: 50vh;
    margin-left: 35vh;
}

.activity-container {
    display: flex;
    gap: 2vh;
}

.box.make {
    margin-left: 34vh;
    margin-top: 10vh;
    margin-bottom: 30vh;
    height: 76vh;
    width: 54vh;
    border-radius: 5%;
    border: 0.1vh solid #59F9CD;
    justify-content: space-between;
}

.M {
    font-size: 5vh;
    color: #59F9CD;
    font-weight: 500;
    margin-left: 4vh;
    margin-top: 5vh;
}

.DetailM {
    font-weight: 300;
    font-size: 3vh;
    color: #9E9E9E;
    padding-top: 1vh;
    margin-left: 4vh;
    line-height: 1.5;
}


.BigM {
    font-family: 'KBO-Dia-Gothic';
    color: #59F9CD;
    margin-left: 19vh;
    font-weight: 700;
    font-size: 40vh;
    overflow: hidden;
}

.BigS {
    font-family: 'KBO-Dia-Gothic';
    color: #BDBDBD;
    font-weight: 700;
    font-size: 40vh;
    margin-left: 13vh;
    margin-top: 25vh;
    overflow: hidden;
}

.BigG {
    font-family: 'KBO-Dia-Gothic';
    color: #BDBDBD;
    font-weight: 700;
    font-size: 40vh;
    margin-left: 13vh;
    margin-top: 25vh;
    overflow: hidden;
}

.box.share {
    width: 38vh;
    height: 76vh;
    border-radius: 5%;
    background-color: #EEEEEE;
    display: flex;
    margin-top: 9.8vh;
}

.box.share:hover {
    width: 50vh;
    height: 76vh;
    background-color: white;
    border: 0.1vh solid #59F9CD;
}

.box.share:hover::before {
    content: "SHARE";
    color: #59F9CD;
    font-weight: 500;
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 4vh;
    display: inline;   
}

.box.gather {
    width: 38vh;
    height: 76vh;
    border-radius: 5%;
    background-color: #EEEEEE;
    margin-top: 9.8vh;
}

.box.gather:hover {
    width: 50vh;
    height: 76vh;
    background-color: white;
    border: 0.1vh solid #59F9CD;
}

.box.gather:hover::before {
    content: "GATHER";
    color: #59F9CD;
    font-weight: 500;
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 4vh;
    display: inline;   
}