main {
    position: relative; 
    width: 100%;
    min-height: calc(var(--page-height) + 1500px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 1000px;
}
 
.activity {
    margin-top: 500px; 
    font-size: 30px;
    margin-right: auto;
    margin-left: 250px;
}

.boxM {
    margin-top: 50px;
    margin-left: 100px;
}

.bubble {
    font-family: 'KBO-Dia-Gothic';
    position: absolute; 
    font-size: 60px;
    font-weight: bold;
    border-radius: 140px;
    padding: 120px 150px;
    text-align: center;
    border: 3px solid #59F9CD;
    color: #59F9CD;
    background-color: white;
}

.bubble.filled {
    font-family: 'KBO-Dia-Gothic';
    background-color: #59F9CD;
    color: white;
}

.arrow {
    font-family: 'KBO-Dia-Gothic';
    align-items: center; 
    justify-content: center; 
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    width: 400px;
    height: 300px;
    border-radius: 140px;
    text-align: center;
    line-height: 60px;
    border: 3px solid #59F9CD;
    color: #59F9CD;
}

.arrow.filled {
    font-family: 'KBO-Dia-Gothic';
    background-color: #59F9CD;
    color: white;
}

.bubble:nth-child(1) { left: 30px; top: 150px; }  
.bubble:nth-child(2) { left: 500px; top: 450px; } 
.arrow:nth-child(3)  { left: 30px; top: 750px; }
.arrow:nth-child(4)  { left: 950px; top: 750px; } 
.bubble:nth-child(5) { left: 1440px; top: 750px; } 
