body {
    background-image: url('../image/apply/deco-circle-01.svg'), url('../image/apply/deco-circle-02.svg'), url('../image/apply/deco-circle-03.svg'), url('../image/apply/deco-circle-04.svg');
    background-position: top 18vh left -3vh, top 140vh right 20vh, top 120vh left 20vh, top 70vh right -2vh;
    background-size: 15%, 12%, 10%, 8%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

.main {
    padding: 0 var(--basic-padding);
}

.faq-box {
    margin-bottom: 50vh;
}

.title {
    color: var(--black-color-01);
    font-size: 5vh;
    font-weight: 600;
    margin: 13vh 0;
}

.faq-item {
    background: #EEEEEE;
    border-radius: 16px;
    margin: 2.5vh 0;
    padding: 4vh 2vw;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    border: none;
}
.faq-question span {
    color: var(--black-color-01);
    font-size: 2.5vh;
    font-weight: 600;
}
.faq-question .arrow img {
    width: 1.3vw;
    transition: transform 0.3s ease;
}
/* 토글 열렸을 때 */
.faq-item.open .arrow img {
    transform: rotate(180deg);
}

.capital {
    color: var(--gray-color-01) !important;
    font-size: 2.8vh !important;
    font-weight: 500 !important;
    margin-right: 0.5vw;
}

.faq-answer {
    display: none;
    padding: 1vw;
    padding-bottom: 0;
}
/* 토글 열렸을 때 */
.faq-item.open .faq-answer {
    display: flex;
    align-items: flex-start;
}
.faq-answer p {
    color: var(--black-color-01);
    font-size: 2.5vh;
    line-height: 3.6vh;
}
.highlight {
    background-color: var(--main-color-01);
    font-weight: 600;
}
strong {
    font-weight: 600;
}

.mobile-br {
    display: none;
}


/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    body {
        background-position: top 18vh left -3vh, top 140vh right 20vh, top 120vh left 20vh, top 70vh right -2vh;
        background-size: 30%, 20%, 15%, 20%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    }
    .main {
        padding: 0 var(--mobile-padding);
    }
    .faq-box {
        margin-bottom: 20vh;
    }
    
    .title {
        font-size: 3.5vh;
        font-weight: 600;
        margin: 7vh 0;
    }
    
    .faq-item {
        padding: 2.8vh 6vw;
    }
    .faq-question span {
        font-size: 1.8vh;
    }
    .faq-question .arrow img {
        display: none;
    }
    
    .capital {
        font-size: 2.3vh !important;
        margin-right: 1.2vw;
    }
    
    .faq-answer {
        padding: 0;
        padding-top: 1vh;
    }
    .faq-answer p {
        font-size: 1.8vh;
        line-height: 3.3vh;
    }

    .pc-br {
        display: none;
    }
    .mobile-br {
        display: inline;
    }
}