/* 메인 */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>h1 {
    color: #424242;
    width: 1189px;
    height: 76px;
    top: 199px;
    left: 286px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 90px;
    /* 아래쪽 간격 조정 */
    margin-left: 70px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 600;
    line-height: 76.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    text-decoration-color: #BDBDBD;
    width: 89%;
    /*이거 줄이기기*/
    margin: 0 auto;
    display: block;
    align-items: center;
    background-color: #EEEEEE;
    border: none;
    padding: 30px;
    /*두께...*/
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
}

.faq-question::after {
    content: url(/2025-MSG-WEBSITE/image/project/toggle.png);
    position: absolute;
    right: 250px;
    transition: transform 0.3s ease;
}

.faq-question.active::after {
    transform: rotate(180deg);
}

.faq-question span {
    color: #757575;
    word-spacing: 5px;
}

.faq-answer {
    width: 86.60%;
    margin: 0 auto;
    font-size: 16px;
    background: #EEEEEE;
    padding: 20px 15px;
    margin-top: -25px;
    justify-content: center;
    line-height: 30px;
    border-radius: 16px;
    display: none;
    /* 기본적으로 숨김 */
    transition: all 0.3s ease-in-out;
}

.faq-answer-A>p {
    color: #757575;
    text-align: left;
    margin-left: 40px;
}

.faq-answer>p {
    color: #424242;
    text-align: left;
    margin-top: -51px;
    margin-left: 70px;
}

.faq-answer span {
    font-family: Pretendard Variable;
    color: #1BF48B;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.faq-question-last {
    text-decoration-color: #BDBDBD;
    width: 89%;
    margin: 0 auto;
    display: block;
    align-items: center;
    background-color: #EEEEEE;
    border: none;
    padding: 30px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    margin-bottom: 500px;
}

.faq-question-last::after {
    content: url(/2025-MSG-WEBSITE/image/project/toggle.png);
    position: absolute;
    right: 250px;
    transition: transform 0.3s ease;
}

.faq-question.active::after {
    transform: rotate(180deg);
}

.faq-question-last span {
    color: #757575;
    word-spacing: 5px;
}

.background {
    width: 100%;
    position: absolute;
    /* 화면에서 원하는 위치 배치 가능 */
    background-size: contain;
    /* 원래 크기 유지 */
    background-repeat: no-repeat;
    z-index: -1;
    /* FAQ 텍스트보다 뒤로 보내기 */
}

/* 첫 번째 원 (왼쪽 상단) */
.background-circle1 {
    background-image: url('/2025-MSG-WEBSITE/image/project/deco-circle-01.png');
    width: 400px;
    height: 400px;
    top: 250px;
    left: 0px;
}

/* 두 번째 원 (오른쪽 중간) */
.background-circle2 {
    background-image: url('/2025-MSG-WEBSITE/image/project/deco-circle-02.png');
    width: 240px;
    height: 240px;
    top: 600px;
    right: -85px;
}

/* 세 번째 원 (왼쪽 하단) */
.background-circle3 {
    background-image: url('/2025-MSG-WEBSITE/image/project/deco-circle-03.png');
    width: 240px;
    height: 240px;
    bottom: -520px;
    left: 50px;
}

/* 네 번째 원 (오른쪽 하단) */
.background-circle4 {
    background-image: url('/2025-MSG-WEBSITE/image/project/deco-circle-04.png');
    width: 240px;
    height: 240px;
    bottom: -680px;
    right: 70px;
}

/* 태블릿 및 모바일 버전 */
@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .floating {
        display: none;
    }

    div>h1 {
        width: 272.79913330078125;
        height: 18;
        top: 100px;
        left: 33.74px;
        font-weight: 600;
        font-size: 14.68px;
    }

    .faq-item {
        width: 310px;
    }

    .faq-question {
        width: 310;
        height: 25.94814682006836;
        top: 262.5px;
        left: 33.38px;
    }

    .faq-answer {
        width: 310;
        font-size: 8px;
    }

    .footer-menu {
        padding: 3vh 0;
    }

    .footer-menu a {
        font-size: 2vh;
        margin-top: 1.5vh;
    }

    .footer-connect {
        font-size: 1.4vh;
    }

    .footer-connect .president::after {
        padding: 0 6px 0 10px;
    }

    .footer-instagram {
        font-size: 1.5vh;
        margin: 3vh 0;
    }

    .footer-instagram img {
        width: 2vh;
        margin-right: 1.5vw;
    }

    .footer-copyright {
        font-size: 1vh;
    }

    /* 첫 번째 원 (왼쪽 상단) */
    .background-circle1 {
        background-image: url(/2025-MSG-WEBSITE/image/project/deco-circle-05.png);
        width: 110.01532488053428;
        height: 110.01532488053428;
        top: 168.49px;
        left: -78px;
        opacity: 0.8;
    }

    /* 두 번째 원 (오른쪽 중간) */
    .background-circle2 {
        background-image: url(/2025-MSG-WEBSITE/image/project/deco-circle-06.png);
        width: 55.06458535153346;
        height: 55.06458535153346;
        top: 339.36px;
        left: 358.62px;
        opacity: 0.8;
    }

    /* 세 번째 원 (왼쪽 하단) */
    .background-circle3 {
        background-image: url(/2025-MSG-WEBSITE/image/project/deco-circle-07.png);
        width: 45.450715480076035;
        height: 41.11713951089666;
        top: 418.41px;
        left: 11.29px;
    }

    /* 네 번째 원 (오른쪽 하단) */
    .background-circle4 {
        background-image: url(/2025-MSG-WEBSITE/image/project/deco-circle-08.png);
        width: 55.06458535153346;
        height: 55.06458535153346;
        top: 491.02px;
        left: 309.75px;
        opacity: 0.8;
    }
}