html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}


.main {
  min-height: 100vh;
  padding-bottom: 60vh; /* footer와 sixteen 사이 공간 추가 */
}

.deco-circles img {
  position: absolute;
  top: 80vh;  /* 원하는 위치로 조정 */
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;  /* 적절한 크기 조정 */
  max-width: 100vw;
}

.deco-circles-01 img{
  display: none;
}


#title p { font-family: "KBO-Dia-Gothic"; font-weight: 500; color: #424242;}

#sub p{ font-family: "Pretendard"; font-weight: 600; color: #9e9e9e;}

#fourteen p, #fifteen p { font-family: "Pretendard"; font-weight: 600; color: #757575;}

#sixteen p { font-family: 'KBO-Dia-Gothic'; font-weight: 500; }

.memberT { font-family: 'Pretendard'; font-weight: 600;}

.memberN { font-family: 'Pretendard'; font-weight: 600;}

.major { font-family: 'Pretendard'; font-weight: 500;}

.memberN, .major{ font-size: 1vw;}

#title p {
  position: relative;
  width: 15%;
  margin-left: 14%;
  margin-top: 16vh; 
  font-size: clamp(30px, 3.5vw, 3.5vw); 
  line-height: 5vw;
}

#sub p {
  position: absolute;
  width: 100%;
  margin-left: 14%; 
  margin-top: 3vh;
  font-size: clamp(18px, 2vw, 2vw);
  line-height: 3vw; 
}

#fourteen p, #fifteen p {
  position: absolute;
  width: 10%;
  margin-left: 14%; 
  font-size: clamp(18px, 2vw, 2vw);  
  line-height: 3.5vw;
}

#fourteen p {
  margin-top: 15vh; 
}

#fifteen p {
  margin-top: 20vh; 
}

#sixteen p{
  text-align: center;
  position: absolute;
  width: 100%;
  margin-left: 1vw;
  margin-top: 18vh;
  font-size: clamp(30px, 5vw, 5vw);
}

.memberI {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5vw;
  padding: 6vw;
}

.memberI img {
  width: 28vw;
  max-height: 80vh;
  object-fit: cover;
  z-index: 2;
  min-width: 5vw;
}

.memberI1 {
  margin-left: -27vw;
  margin-top: 34vh;
}

.memberI2 {
  margin-left: 21vw;
  margin-top: -10vh;
}

.memberI3 {
  margin-left: -28vw;
  margin-top: -9vh;
}

.memberI4 {
  margin-left: 24vw;
  margin-top: -15vh;
}

.memberI5 {
  margin-left: -10vw;
  margin-top: -10vh;
}

.memberI6 {
  margin-left: 15vw;
  margin-top: 35vh;
}

.memberI7 {
  margin-left: -25vw;
  margin-top: -5vh;
}

.memberI8 {
  margin-left: 16vw;
  margin-top: -15vh;
}

.memberI9 {
  margin-left: -26vw;
  margin-top: -20vh;
}

.memberI10 {
  margin-left: 16vw;
  margin-top: -15vh;
}

.memberI11 {
  margin-left: -10vw;
  margin-top: 5vh;
}

.member1 img {
  width: 28vw;
  max-height: 80vh;
}

.member2 img {
  width: 35vw;
  max-height: 80vh;
}

.member3 img {
  width: 30vw;
  max-height: 80vh;
}

.member4 img {
  width: 28vw;
  max-height: 80vh;
}

.member5 img {
  width: 35vw;
  max-height: 80vh;
}

.member6 img {
  width: 27vw;
  max-height: 80vh;
}

.member7 img {
  width: 40vw;
  max-height: 80vh;
}

.member8 img {
  width: 27vw;
  max-height:80vh;
}

.member9 img {
  width: 35vw;
  max-height: 80vh;
}

.member10 img {
  width: 38vw;
  max-height:80vh;
}

.member11 img {
  width: 34vw;
  max-height: 80vh;
}

.thenext {color: #59f9cd;}

@media screen and (max-width: 768px) {
  .member1 img { content: url("../image/member/member-1.svg"); }
  .member2 img { content: url("../image/member/member-2.svg"); }
  .member3 img { content: url("../image/member/member-3.svg"); }
  .member4 img { content: url("../image/member/member-4.svg"); }
  .member5 img { content: url("../image/member/member-5.svg"); }
  .member6 img { content: url("../image/member/member-6.svg"); }
  .member7 img { content: url("../image/member/member-7.svg"); }
  .member8 img { content: url("../image/member/member-8.svg"); }
  .member9 img { content: url("../image/member/member-9.svg"); }
  .member10 img { content: url("../image/member/member-10-2.svg"); }
}

@media screen and (max-width: 768px) {
  .memberI { gap: 5vw; padding: 6vw; }
  header { position: fixed ;}  
}


/* 모바일 버전!! */

@media screen and (max-width: 400px) {
  .main {
    padding-bottom: 30vh; /* footer와 sixteen 사이 공간 더 줄임 */
  }

  html, body {
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100vw;
}

.header-menu {
  max-width: 90vw; /* 너무 커서 넘치는 것 방지 */
}
  .menu-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);
    width: 6vh; /* 버튼 크기 조정 */
    height: auto;
}

  .header-menu {
    max-width: 95vw;  /* 너무 꽉 차지 않도록 조정 */
    padding: 0 3vw;   /* 좌우 여백 추가 */
  }

  header {
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 3vw;
    box-sizing: border-box;
  } 

  #title p { margin-top: 9vh; }

  #fifteen p { margin-top: 10vh; }

  #sixteen p { margin-top: 8vh; margin-bottom: 1vh;}

  .memberI {
    gap: 25vw;
    padding: 20vw;
  }

  .memberI img {
    width: 55vw; /* 모바일에서 이미지 크기 더 확대 */
    max-width: 100vw;
    height: auto;
    margin-left: -20vw;
  }

  .memberI1 img{
    width: 53vw;
    margin-left: -20vw;
    margin-top: -20vh;
  }

  .memberI2 img{
    width: 70vw;
    margin-left: -55vw;
    margin-top: -2vw;
  }

  .memberI3 img{
    width: 55vw;
    margin-left: -20vw;
    margin-top: -8vw;
  }

  .memberI4 img{
    width: 55vw;
    margin-left: -50vw;
    margin-top: 5vw;
  }

  .memberI5 img{
    width: 70vw;
    margin-left: -30vw;
    margin-top: 10vw;
  }

  .memberI6 img{
    width: 57vw;
    margin-left: -50vw;
    margin-top: -20vh;
  }

  .memberI7 img{
    width: 80vw;
    margin-left: 0vw;
    margin-top: -5vw;
  }

  .memberI8 img{
    width: 60vw;
    margin-left: -55vw;
    margin-top: 5vw;
  }

  .memberI9 img{
    width: 65vw;
    margin-left: -0vw;
    margin-top: 15vw;
  }

  .memberI10 img{
    width: 80vw;
    margin-left: -70vw;
    margin-top: 15vw;
  }

  .memberI11 img{
    width: 70vw;
    margin-top: -20vw;
  }

  .deco-circles img {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw; /* 전체 화면 너비와 동일한 비율 유지 */
    height: 200vh; /* 전체 화면 높이와 동일한 비율 유지 */
    max-width: 200vw;
    max-height: 200vh;
    opacity: 0.3;
    z-index: -1;
  }

  .deco-circles-01 img{
    display: inline;
    position: absolute;
    top: 160vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw; /* 전체 화면 너비와 동일한 비율 유지 */
    height: 200vh; /* 전체 화면 높이와 동일한 비율 유지 */
    max-width: 200vw;
    max-height: 200vh;
    opacity: 0.3;
    z-index: -1;
  }
}