.main {
    margin-top: 16.6vh;
    margin-bottom: 16.6vh;
}

.project-title {
    padding-left: 14.8438vw;
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 2.6vw;
    color: var(--black-color-01);
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 9.5vh;
    margin-bottom: 25vh;
}

.swiper-wrapper {
    margin-bottom: 7vh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 49.4vh;
    border-radius: 10px;
    object-fit: cover;
}

.swiper-slide-active .swiper-content {
    margin-top: 10px;
    font-family: 'Pretendard';
    position: relative;
    bottom: 2px; 
    left: 10px;    
}

.swiper-slide:not(.swiper-slide-active) .swiper-content {
    position: absolute;
    top: -57px; 
    right: 10px;
    text-align: right;
}

.swiper-slide:not(.swiper-slide-active) .slide-content {
    display: none;
}

.slide-grade {
    color: var(--gray-color-01);
    font-weight: 600;
    font-size: 1vw;
}

.slide-title {
    color: var(--black-color-01);
    font-weight: 600;
    font-size: 1.8vw;
}

.slide-content{
    color: var(--black-color-01);
    font-weight: 400;
    font-size: 1vw;
}

.swiper .swiper-pagination-bullet {
    background-color: var(--main-color-03);
    margin: 0 10px;
  }

.swiper-button-prev, .swiper-button-next  {
    display: none !important;
}

/* 커스텀 버튼 스타일 */
.custom-button-prev, .custom-button-next {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    width: 80px; /* 버튼 크기 조절 */
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

.custom-button-prev {
    left: 27%; 
}

.custom-button-next {
    right: 27%;
}

.custom-button-prev img, .custom-button-next img {
    width: 100%;
    height: 100%;
}

.award-container {
    margin: 40px auto;
    padding-left: 14.8438vw;
    padding-right: 14.8438vw;
}

.reward-title {
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 2.6vw;
    color: var(--black-color-01);
}
.reward-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Pretendard";
}

.reward-list th, .reward-list td {
    padding: 4vh;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.reward-list th {
    font-size: 1vw;
    font-weight: 600;
    color: #BDBDBD;
}

.reward-list td a {
    text-decoration: none;
    font-weight: bold;
}


/* 태블릿 및 모바일 버전 */
@media screen and (max-width: 768px) {
    
    .project-title {
        font-size: 4vw;
        padding-left: 8.8438vw;
    }

    .reward-title {
        font-size: 4vw;
    }
    .swiper {
        margin-bottom: 10vh;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .swiper-slide img {
        position: relative;
        left: -35px;
        width: auto;
        max-width: 65vw;
        height: 25vh;
        border-radius: 10px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    
    .custom-button-prev, .custom-button-next {
        position: absolute;
        top: 34%;
        width: 60px; /* 버튼 크기 조절 */
        height: 30px;
    }

    .custom-button-prev {
        left: 15%; /* 왼쪽 위치 조절 */
    }
    
    .custom-button-next {
        right: 7%; /* 오른쪽 위치 조절 */
    }

    .slide-grade {
        font-size: 2vw;
    }

    .slide-title {
        font-size: 3vw;
    }
    
    .slide-content{
        font-size: 2vw;
    }

    .award-container {
        padding-left: 8.8438vw; /* 왼쪽 패딩 */
        padding-right: 8.8438vw;
    }

    .reward-list th {
        font-size: 2.8vw;
    }

    .reward-list td {
        font-size: 2.1vw;
    }

    .reward-list th:nth-child(2), 
    .reward-list td:nth-child(2) {
        display: none;
    }

    .reward-list th:nth-child(1), 
    .reward-list td:nth-child(1) {
        padding-right: 10vw;
    }
    .swiper-slide-active {
        z-index: 10;
    }

}

